


.h2{
    margin-top: 5%;
}
.img{
    overflow:auto;
    height: 400px;
    width: 300px;
    margin-top: 6%;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

#contenedor_formulario{

    position: absolute;
    margin-top: 5%;
    margin-left: 50%;
    transform: translate(-50%, 0);
    background: cornsilk;
    border-radius: 8px;
    max-width: 500px;
}

#titulo_formulario{
    color: darkmagenta;

}
@media(max-width:768px){
    #intro{
        width: 90%;
    }

    .servicio_fila{
        width: 100;
        text-align: center;

    }

}

@media(max-width:768px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center;
    }
}
